.Home {
  width: 100vw;
  position: relative;
  .carousel {
    .carousel-item {
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      .carousel-caption {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 20px;
        width: 30rem;
        margin-left: 22%;
      }
    }
  }
}
